@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.titulo-principal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
  font-weight: 700;
  padding: 0.5rem 1rem 1rem 1rem;
  white-space: pre-wrap;
  font-family: 'Orbitron', sans-serif;
  color: #a6ff4d; 
  letter-spacing: 0.6rem;
  text-align: center;
  margin-bottom:1rem;
  background-color: hwb(156 30% 46% / 0);
  border-bottom: 1px dotted rgba(32, 229, 255, 0.26);

  /* ✅ sombra más suave para no perder definición */
  text-shadow:
    0 0 3px #a6ff4d,
    0 0 6px #89ff00,
    0 0 8px #89ff00;
}

.titulo-principal span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-40px);
  animation: aparecerSuave 0.6s ease-out forwards;
  animation-delay: calc(var(--i) * 0.05s);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.titulo-principal span:hover {
  animation: reboteConRotacion 0.6s ease;
  color: #00ffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px #00ccff;
}

.titulo-principal .espacio {
  width: 0.5em;
}



@keyframes aparecerSuave {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


@keyframes reboteConRotacion {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  30% {
    transform: translateY(-12px) rotate(-10deg);
  }
  60% {
    transform: translateY(4px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
